.shop-detail-right {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 32px;
    position: relative;
}


    .shop-detail-right .badge {
        background: #f2fef2 none repeat scroll 0 0;
        border: 1px solid #51aa1b;
        border-radius: 2px;
        color: #51aa1b;
        font-size: 14px;
        font-weight: 500;
        padding: 6px 13px;
    }

    .shop-detail-right h2 {
        font-size: 21px;
        font-weight: 500;
        margin: -15px 0px 15px;
        /* background: red; */
        width: 77%;
    }

    .shop-detail-right > h6 {
        color: #666;
        font-size: 15px;
        margin: 0 0 15px;
    }

    .shop-detail-right .offer-price {
        font-size: 20px;
        font-weight: 300;
    }

.offer-price-cus {
    margin-top: 25px;
}

.shop-detail-right .btn {
    font-weight: 500;
    margin: 0px 0;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    width: 100%;
    margin-top: 15px;
}

.btn-secondary {
    background: #FAB34B none repeat scroll 0 0 !important;
}

.short-description {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 10px;
    font-size: 15px;
}

    .short-description p {
        line-height: 25px;
        margin-bottom: 0;
        color: #333;
    }

    .short-description p {
        line-height: 25px;
        margin-bottom: 4px;
        color: #333;
    }

.regular-price {
    text-decoration: line-through;
}

.offer-price-cus .regular-price {
    color: #888 !important;
    margin-left: 10px;
}

.float-right {
    float: right !important;
}

.shop-detail-slider {
    position: relative;
}

    .shop-detail-slider #sync1 {
        border: 1px solid #eee;
        border-radius: 12px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .shop-detail-slider #sync2 {
        padding: 0 70px;
    }

        .shop-detail-slider #sync2 .item {
            text-align: center;
        }

        .shop-detail-slider #sync2 img {
            border: 2px solid #eee;
            border-radius: 12px;
            cursor: pointer;
            margin: 10px 9px 6px 1px;
            width: 92%;
        }

            .shop-detail-slider #sync2 .synced img, .shop-detail-slider #sync2 img:hover {
                border-color: #1c2224;
            }

.favourite-icon a {
    background: red none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
    height: 35px;
    line-height: 34px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 35px;
    z-index: 9;
}

.text-success {
    color: #FF6060 !important;
}

.shop-detail-right .offer-price .text-success {
    font-size: 30px;
    font-weight: 500;
}

.short-description h5 {
    padding-bottom: 15px;
}

.short-description p {
    /*padding-bottom: 15px;*/
}

.single-detail-cus {
}

    .single-detail-cus .card-contanier-cus.card.card-body {
        border: none;
    }

.single-detail-cus {
    padding-top: 20px;
}

    .single-detail-cus .card-body-cus-detail {
        line-height: 25px;
        font-size: 15px;
    }

        .single-detail-cus .card-body-cus-detail p {
            line-height: 25px;
        }

        .single-detail-cus .card-body-cus-detail img {
            max-width: 99%;
            height: auto;
        }

    .single-detail-cus .card-header {
        border-color: #eee;
    }

        .single-detail-cus .card-header h6 {
        }

            .single-detail-cus .card-header h6 a {
                color: #e96125;
                font-size: 19px;
            }

    .single-detail-cus .card-detail-cus {
        border-color: #eee;
        margin-top: 10px;
    }
/*product*/
.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.product-item .product {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 2px;
    margin: 5px;
    padding: 9px;
    position: relative;
}

.product-item .product-header {
    text-align: center;
}

    .product-item .product-header img {
        height: auto;
        margin: 0 0 10px;
        object-fit: scale-down;
        transform: scale(1);
        transition-duration: .4s;
    }

.product-item .product-footer.add-to-cart-button {
    margin-bottom: 0;
    min-height: 45px;
    margin-top: 15px;
}

.product-item .product-footer .btn {
    border-radius: 49px !important;
    font-size: 12px;
    padding: 6px 12px;
    cursor: pointer;
    background: #FAB34B;
    color: #fff;
    border: 1px solid #FAB34B;
}

    .product-item .product-footer .btn:hover {
        background: #e96125;
        color: #fff;
        border: 1px solid #FAB34B;
    }

.product-item .offer-price {
    color: #FF6060;
    font-size: 24px;
    font-weight: 600;
    line-height: 19px;
}

.product-item .product-body h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0;
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 22px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    color: #333;
}

.product-item .float-right {
    float: right !important;
}

.product-item .regular-price {
    color: #666 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-decoration: line-through;
}

.product-item .product-header .badge {
    background: #f2fef2 none repeat scroll 0 0;
    border: 1px solid #51aa1b;
    border-radius: 2px;
    color: #51aa1b;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    padding: 4px 10px;
    position: absolute;
    top: 20px;
    z-index: 9;
}

.product-item .product-body h5 a {
    color: #000;
    font-size: 16px;
}

    .product-item .product-body h5 a:hover {
        color: #e96125;
    }

    .product-item .product-body h5 a:hover {
    }
/*product*/
.product-container .product-h1 {
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-gian-hang {
    padding-bottom: 45px;
}

div#product-run {
    padding-top: 30px;
}

div#product-new-run {
    padding-top: 50px;
}
/*danh gia*/
.danh-gia {
    position: absolute;
    right: 32px;
    top: 13px;
    font-size: 13px;
}
/****** Style Star Rating Widget *****/
#rating {
    border: none;
    float: left;
}

    #rating > input {
        display: none;
    }
    /*ẩn input radio - vì chúng ta đã có label là GUI*/
    #rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }
    /*1 ngôi sao*/
    #rating > .half:before {
        content: "\f089";
        position: absolute;
    }
    /*0.5 ngôi sao*/
    #rating > label {
        color: #ddd;
        float: right;
    }
    /*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
    /*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
    #rating > input:checked ~ label,
    #rating:not(:checked) > label:hover,
    #rating:not(:checked) > label:hover ~ label {
        color: #FFD700;
    }
        /* Hover vào các sao phía trước ngôi sao đã chọn*/
        #rating > input:checked + label:hover,
        #rating > input:checked ~ label:hover,
        #rating > label:hover ~ input:checked ~ label,
        #rating > input:checked ~ label:hover ~ label {
            color: #FFED85;
        }

.reviews-card p {
    font-size: 13px;
    line-height: 22px;
    color: #888;
    font-weight: normal;
}

.reviews-card .d-flex {
    height: 50px;
    width: 50px;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.mr-3, .mx-3 {
    margin-right: 1rem !important;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

div#comment {
    padding-top: 30px;
}

#comment .card {
    border-radius: 0;
}
