<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--<add key="AjaxUploaderLicense" value="/bin/AjaxUploader.lic" />-->
  <add key="language" value="vi-VN" />
  <add key="domain" value="https://pisilkroad.com/"/>
  <add key="siteName" value="Pi is a new digital currency. This app allows you to access and grow your Pi holdings and serves as wallet to host your digital assets"/>
  <add key="domainShare" value="https://pisilkroad.com"/>
  <add key="imgSEO" value="https://pisilkroad.com/logo.png"/>
  <add key="facebook" value="#"/>
  <add key="instagramClientId" value="7bc9d9d6d2f044d39c85f2b85bf863e3"/>
  <add key="instagramAccessToken" value="8091338006.7bc9d9d.8c41f82e3c004bb78ffdd285383f136d"/>
  <add key="SocialTitle" value="Pi is a new digital currency. This app allows you to access and grow your Pi holdings and serves as wallet to host your digital assets"/>
  <add key="SocialDescription" value="Pi is a new digital currency. This app allows you to access and grow your Pi holdings and serves as wallet to host your digital assets"/>
  <add key="SocialUrl" value="https://pisilkroad.com/"/>
  <add key="SocialImage" value="https://pisilkroad.com/logo.png"/>
  
  <add key="SeoTitle" value="Pi is a new digital currency"/>
  <add key="AltImage" value="Pi is a new digital currency"/>
  <add key="SeoKeyWord" value="Pi is a new digital currency"/>
  <add key="SeoDescription" value="Pi is a new digital currency. This app allows you to access and grow your Pi holdings and serves as wallet to host your digital assets"/>
  <add key="author" value="www.pisilkroad.com"/>
  <add key="copyright" value="www.pisilkroad.com"/>
  <!--VTC-->
  <add key="VTCPay_Url_v1" value="https://pay.vtc.vn/cong-thanh-toan/checkout.html"/>
  <add key="Sandbox_Url_v1" value="http://sandbox1.vtcebank.vn/pay.vtc.vn/gate/checkout.html"/>
  <add key="VTCPay_Url_v2" value="https://pay.vtc.vn/bank-gateway/checkout.html"/>
  <add key="Sandbox_Url_v2" value="http://sandbox1.vtcebank.vn/payportalv2/checkout.html"/>
  <add key="SecretKey" value="Piglobal19$#_"/>
  <add key="Url_CheckTrans_Sandbox" value="http://sandbox1.vtcebank.vn/pay.vtc.vn/cong-thanh-toan/WSCheckTrans.asmx"/>
  <add key="Url_CheckTrans_Live" value="https://pay.vtc.vn/cong-thanh-toan/WSCheckTrans.asmx"/>
  <add key="Url_Return" value="http://localhost:58847/mua-hang/dat-hang-thanh-cong.html"/>
  <add key="Currency" value="VND"/>
  <add key="Receiver_Account" value="0937415268"/>
  <add key="WebId" value="8207 "/>
  <!--Email-->
  <add key="LogoEmail" value="https://pisilkroad.com/logo.png"/>
  <add key="emailNotification" value="tamnt.mcc@gmail.com"/>
  <add key="emailSender" value="tamnt.mcc@gmail.com"/>
  <!--SMS-->
  <add key="EnableVerifySystem" value="0"/>
  <add key="SMSAPIKey" value="466C25425D6BA0415E3254F850F0FC"/>
  <add key="SMSSecretKey" value="F6D92943C0FEF0E9610D6B7DFED377"/>
  <add key="SMSBrandname" value="Piglobal"/>
  <add key="SmsType" value="2"/>
</appSettings>