# requirements.txt
Django==3.2.5
django-crispy-forms==1.11.2
django-filter==2.4.0
django-rest-framework==0.1.0
django-tables2==2.3.4
djangorestframework-simplejwt==4.6.0
gunicorn==22.0.0
mysqlclient==2.0.3
Pillow==10.3.0
psycopg2-binary==2.8.6
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
