<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <!--<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />-->
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="pimarketdbConnectionString" connectionString="Data Source=.;Initial Catalog=pimarketdb;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings configSource="Appsettings.config"/>
  <!--
    For a description of web.config changes đ see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.pooling=False;
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" originUrl=""/>
    <!--<trust level="Full" />
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal" />
    </securityPolicy>-->
    <caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="pimarketdbConnectionString" connectionStringName="pimarketdbConnectionString"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <httpModules>
      <!--<add type="NewsUtility.ModuleRewriter, NewsUtility" name="ModuleRewrite" />-->
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxThemes.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages enableEventValidation="false" validateRequest="false" viewStateEncryptionMode="Always" enableViewStateMac="false" enableViewState="true">
      <controls>
        <!--<add tagPrefix="asp" namespace="QuocThinh.Data.DropDow" />-->
      </controls>
      <!--<namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Data" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>-->
    </pages>
    <customErrors mode="Off">
      <error statusCode="404" redirect="/404.html"/>
    </customErrors>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/siteadmin/Login.aspx" timeout="3600" />
    </authentication>-->
    <!--<membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>-->
    <!--<profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="15360"/>
    <!--<roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->
    <sessionState mode="InProc" timeout="60"/>
    <!--<httpHandlers>
      <add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </httpHandlers>-->
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <!--<directoryBrowse enabled="false" />-->
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="Redirect"/>
    </httpErrors>
    <handlers>
      <!--<add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified" />-->
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </handlers>
    <!-- Lưu cache các file để cải thiện tốc độ load web -->
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".png" policy="CacheForTimePeriod" duration="7.00:00:00"/>
        <add extension=".gif" policy="CacheForTimePeriod" duration="7.00:00:00"/>
        <add extension=".jpg" policy="CacheForTimePeriod" duration="7.00:00:00"/>
        <add extension=".js" policy="CacheForTimePeriod" duration="7.00:00:00"/>
        <add extension=".css" policy="CacheForTimePeriod" duration="7.00:00:00"/>
        <add extension="min.css" policy="CacheForTimePeriod" duration="7.00:00:00"/>
      </profiles>
    </caching>
    <!-- End Lưu cache -->
    <!--<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" staticCompressionDisableCpuUsage="95" staticCompressionEnableCpuUsage="60" dynamicCompressionDisableCpuUsage="95" dynamicCompressionEnableCpuUsage="50">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>-->
    <rewrite>
      <rules>
        <rule name="404" enabled="true" stopProcessing="true">
          <match url="^404.html"/>
          <action type="Rewrite" url="page404.aspx"/>
        </rule>
        <rule name="home-page" enabled="true" stopProcessing="true">
          <match url="^trang-chu.html?$"/>
          <action type="Rewrite" url="Home.aspx"/>
        </rule>
        <rule name="map-page" enabled="true" stopProcessing="true">
          <match url="^map.html?$"/>
          <action type="Rewrite" url="map-page.aspx"/>
        </rule>
        <rule name="ho-tro" enabled="true" stopProcessing="true">
          <match url="^ho-tro.html?$"/>
          <action type="Rewrite" url="ho-tro.aspx"/>
        </rule>
        <rule name="page-chi-tiet" enabled="true" stopProcessing="true">
          <match url="^page/([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="page/page.aspx?Id={R:2}"/>
        </rule>
        <rule name="san-giao-dich-dat-thue" enabled="true" stopProcessing="true">
          <match url="^san-giao-dich/dat-thue-gian-hang-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="sangiaodich/datthue.aspx?Id={R:1}"/>
        </rule>
        <rule name="san-giao-dich-dat-thue-thanh-cong" enabled="true" stopProcessing="true">
          <match url="^san-giao-dich/dat-thue-gian-hang-thanh-cong-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="sangiaodich/datthuethanhcong.aspx?Id={R:1}"/>
        </rule>
        <rule name="san-giao-dich-dat-mua" enabled="true" stopProcessing="true">
          <match url="^san-giao-dich/dat-mua-gian-hang-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="sangiaodich/datmua.aspx?Id={R:1}"/>
        </rule>
        <rule name="san-giao-dich-dat-mua-thanh-cong" enabled="true" stopProcessing="true">
          <match url="^san-giao-dich/dat-mua-gian-hang-thanh-cong-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="sangiaodich/datmuathanhcong.aspx?Id={R:1}"/>
        </rule>
        <rule name="gioi-thieu-chi-tiet" enabled="true" stopProcessing="true">
          <match url="^gioi-thieu/([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="page/gioi-thieu.aspx?Id={R:2}"/>
        </rule>
        <rule name="dich-vu-chi-tiet" enabled="true" stopProcessing="true">
          <match url="^dich-vu/([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="dichvu/chitiet.aspx?Id={R:2}"/>
        </rule>
        <rule name="cafeteria" enabled="true" stopProcessing="true">
          <match url="^cafeteria.html?$"/>
          <action type="Rewrite" url="chatroom/cafeteria.aspx"/>
        </rule>
        <rule name="san-giao-dich" enabled="true" stopProcessing="true">
          <match url="^san-giao-dich.html?$"/>
          <action type="Rewrite" url="sangiaodich/san-giao-dich.aspx"/>
        </rule>
        <rule name="san-dau-gia" enabled="true" stopProcessing="true">
          <match url="^san-dau-gia.html?$"/>
          <action type="Rewrite" url="Auction/san-dau-gia.aspx"/>
        </rule>
        <rule name="san-dau-gia-chi-tiet" enabled="true" stopProcessing="true">
          <match url="^san-dau-gia/san-pham/([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="Auction/chi-tiet-san-pham-dau-gia.aspx?ProductId={R:2}"/>
        </rule>
        <rule name="user-register" enabled="true" stopProcessing="true">
          <match url="^user/register.html?$"/>
          <action type="Rewrite" url="taikhoan/register.aspx"/>
        </rule>
        <rule name="user-login" enabled="true" stopProcessing="true">
          <match url="^user/login.html?$"/>
          <action type="Rewrite" url="taikhoan/login.aspx"/>
        </rule>
        <rule name="user-forget-password" enabled="true" stopProcessing="true">
          <match url="^user/forget-password.html?$"/>
          <action type="Rewrite" url="taikhoan/forget-password.aspx"/>
        </rule>
        <rule name="danh-sach-gian-hang" enabled="true" stopProcessing="true">
          <match url="^danh-sach-gian-hang.html?$"/>
          <action type="Rewrite" url="gianhang/Default.aspx"/>
        </rule>
        <rule name="gian-hang-detail" enabled="true" stopProcessing="true">
          <match url="^gian-hang/([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/detail.aspx?shopRentalId={R:2}"/>
        </rule>
        <rule name="san-pham-gian-hang" enabled="true" stopProcessing="true">
          <match url="^gian-hang/san-pham-gian-hang/([_0-9a-z-]+)-([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/sanphamgianhang.aspx?shopRentalId={R:3}&amp;categorylId={R:2}"/>
        </rule>
        <rule name="san-pham-khuyen-mai" enabled="true" stopProcessing="true">
          <match url="^gian-hang/san-pham/khuyen-mai-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/sanphamkhuyenmai.aspx?shopRentalId={R:1}"/>
        </rule>
        <rule name="san-pham-all" enabled="true" stopProcessing="true">
          <match url="^gian-hang/san-pham/danh-sach-san-pham-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/sanphamall.aspx?shopRentalId={R:1}"/>
        </rule>
        <rule name="chi-tiet-san-pham-detail" enabled="true" stopProcessing="true">
          <match url="^san-pham/([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/chitietsanpham.aspx?productId={R:2}"/>
        </rule>
        <rule name="mua-hang-san-pham" enabled="true" stopProcessing="true">
          <match url="^gian-hang/dat-hang/([_0-9a-z-]+)-([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/dathangsanpham.aspx?shopRentalId={R:3}&amp;productId={R:2}"/>
        </rule>
        <rule name="buy-product" enabled="true" stopProcessing="true">
          <match url="^transaction/buy-product/([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/dathangsanpham.aspx?shopRentalId={R:2}&amp;orderCode={R:1}"/>
        </rule>
        <rule name="seller-product" enabled="true" stopProcessing="true">
          <match url="^transaction/seller-product/([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/sellersanpham.aspx?shopRentalId={R:2}&amp;orderCode={R:1}"/>
        </rule>
        <rule name="buy-auction-product" enabled="true" stopProcessing="true">
          <match url="^auction/buyer-product/([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="auction/dathangsanpham.aspx?orderCode={R:1}"/>
        </rule>
        <rule name="seller-auction-product" enabled="true" stopProcessing="true">
          <match url="^auction/seller-product/([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="auction/sellersanpham.aspx?orderCode={R:1}"/>
        </rule>
        <rule name="gian-hang-gioi-thieu" enabled="true" stopProcessing="true">
          <match url="^gian-hang/gioi-thieu/([_0-9a-z-]+)-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/gioithieu.aspx?shopRentalId={R:2}"/>
        </rule>
        <rule name="gian-hang-hoat-dong" enabled="true" stopProcessing="true">
          <match url="^gian-hang/hoat-dong/thu-vien-hinh-([_0-9a-z-]+).html?$"/>
          <action type="Rewrite" url="gianhang/thuvienhinh.aspx?shopRentalId={R:1}"/>
        </rule>
        <rule name="checkout-cart" enabled="true" stopProcessing="true">
          <match url="^checkout/cart.html?$"/>
          <action type="Rewrite" url="giohang/giohang.aspx"/>
        </rule>
        <rule name="checkout-cart-info" enabled="true" stopProcessing="true">
          <match url="^checkout/cartinfo.html?$"/>
          <action type="Rewrite" url="giohang/cartinfo.aspx"/>
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:30:00"/>
    </staticContent>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font=""/>
    <!--<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />-->
    <!--<settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" accessibilityCompliant="false" checkReferencesToExternalScripts="false" bootstrapMode="" protectControlState="true" />-->
    <!--<errors callbackErrorRedirectUrl="" />-->
  </devExpress>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>