
.chxhcnvn{font-size:14pt;text-align:center;padding-top:50px}
.dltdhp{font-size:12pt;text-align:center;padding-top:10px}
.dxnp{font-size:14pt;text-align:center;padding-top:20px}
.textcenter{text-align:center}
.top5px{padding-top:5px}
.top10px{padding-top:10px}
.top20px{padding-top:20px}
.top40px{padding-top:40px}
.left30px{padding-left:30px}
.right30px{padding-right:30px}
.bp{padding-left:320px;}
.txtlydo{width:425px;border:none;border-bottom:1px solid #9e9d9d;border-bottom-style:dotted;color:#6b6b6b}
.txtnguoibangiao{width:100px;border:none;border-bottom:1px solid #9e9d9d;border-bottom-style:dotted;color:#6b6b6b;text-align:center}
.txtsongaynghi{width:40px;border:none;border-bottom:1px solid #9e9d9d;border-bottom-style:dotted;color:#000;text-align:center;font-size:12pt;font-weight:bold}
.txtnoidungbangiao{width:800px;border:none;border-bottom:1px solid #9e9d9d;border-bottom-style:dotted;color:#6b6b6b}