@import url('bootstrap/css/bootstrap.css');
@import url('font-awesome-4.7.0/css/font-awesome.css');

body {
}

a {
    text-decoration: none !important;
}

footer {
    background-color: #1E1E1E;
    color: #999999;
    font-size: 13px;
    padding: 65px 0;
}

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    footer a,
    footer a:hover {
        display: inline-block;
        color: #979797;
    }

        footer a span,
        footer a:hover span {
            color: #fff;
        }

    footer .container {
        max-width: 1400px;
    }

.footer-logo {
    text-align: center;
    margin-bottom: 65px;
}

    .footer-logo img {
        max-height: 75px;
    }

.footer-body .row {
    justify-content: space-between;
}

.footer-section-head {
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;
}

    .footer-section-head i {
        margin-right: 5px;
    }

.footer-section-body p {
    margin-bottom: 40px;
}

.footer-section-body ul {
    margin-bottom: 40px;
}

    .footer-section-body ul li {
        position: relative;
        font-size: 12px;
        margin-bottom: 10px;
    }

        .footer-section-body ul li .ico-social {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }

            .footer-section-body ul li .ico-social * {
                max-width: 100%;
                max-height: 100%;
            }

            .footer-section-body ul li .ico-social img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

.footer-col-contact .footer-section-head {
    margin-bottom: 10px;
}

.footer-col-contact .footer-section-body p {
    font-size: 15px;
    margin-bottom: 10px;
}

.footer-col-form {
    flex: 0 0 400px;
}

.footer-col-contact {
    flex: 0 0 180px;
}

.footer-form-group {
    position: relative;
}

.footer-form-control {
    width: 100%;
    height: 36px;
    color: #fff;
    background: transparent;
    border: 2px solid #979797;
    padding: 5px 50px 5px 20px;
}

.form-select .footer-form-control {
    color: #979797;
    padding: 5px 20px 5px 40px;
}

.footer-form-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 36px;
    text-align: center;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer-form-ico {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    pointer-events: none;
}

.footer-foot {
    font-size: 12px;
    margin-top: 40px;
}

.footer-foot-left {
    float: left;
    margin: 10px 0;
}

.footer-foot-right {
    float: right;
    margin: 10px 0;
}

.footer-foot-left a {
    font-size: 14px;
    margin-left: 10px;
}

.footer-copyright {
    display: inline-block;
}

.footer-nav-list {
    display: inline-block;
}

    .footer-nav-list li {
        display: inline-block;
    }

        .footer-nav-list li::before {
            content: "|";
            margin: 0 5px 0 3px;
        }

.footer-section .footer-section-head .btn-link {
    float: right;
    padding-top: 0;
    padding-bottom: 0;
}

    .footer-section .footer-section-head .btn-link::before {
        font-family: "Font Awesome 5 Pro";
        content: "\f107";
        float: right;
        color: #fff;
        text-align: center;
        transform: rotate(180deg);
        transition: all 0.2s ease-in 0s;
        margin-top: 0px;
    }

    .footer-section .footer-section-head .btn-link.collapsed::before {
        font-family: "Font Awesome 5 Pro";
        color: #fff;
        float: right;
        transform: rotate(0deg);
        transition: all 0.2s ease-in 0s;
    }

.group-footer {
    align-items: flex-end !important;
    background-color: var(--baltic-sea) !important;
    display: block !important;
    flex-direction: column !important;
    min-height: 290px !important;
    padding: inherit !important;
    width: 100% !important;
    z-index: 5 !important;
    align-items: center !important;
    justify-content: center !important;
}

.filter-danh-sach {
    font-size: 18px;
}

.box-ds-giang-hang {
    position: relative;
}

.code-gh {
    position: absolute;
    color: #fab34b;
    font-size: 15px;
    top: 25px;
    left: 34px;
}

.chi-tiet-gian-hang .group-48095432 > div {
    /*background: red;*/
    /* width: 256px; */
    /* flex: 1 0 21%; */
    /* margin: 5px; */
    /* height: 100px; */
    /*background-color: blue;*/
    /* width: calc(100% * (1/4) - 0px - 10px); */
    /* margin: 15px 15px 15px 15px; */
    /* flex-grow: 1; */
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.product {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    border-radius: 2px;
    margin: 0 -1px 0 0;
    padding: 20px;
    position: relative;
}

.product-header {
    text-align: center;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.product-header .badge {
    /*background: #f2fef2 none repeat scroll 0 0;*/
    /*border: 1px solid #51aa1b;*/
    border-radius: 2px;
    /*color: #51aa1b;*/
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    padding: 4px 10px;
    position: absolute;
    top: 20px;
    z-index: 9;
}

.product-body h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    color: var(--baltic-sea);
}

.product-body h6 {
    color: #9c9c9c;
    font-size: 12px;
    margin: 5px 0 14px;
}

.product-footer .btn {
    border-radius: 49px !important;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
}

.offer-price {
    color: #000;
    font-size: 21px;
    font-weight: 600;
    line-height: 20px;
    color: #dc3545;
}

.btn-secondary {
    background: #fbb44a none repeat scroll 0 0 !important;
}

.regular-price {
    color: #666 !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 13px;
    text-decoration: line-through;
    margin-top: 10px;
    padding-top: 10px;
}

.text-success {
    color: #28a745 !important;
}

.product-header .mdi-circle {
    border: 1px solid;
    border-radius: 2px;
    display: inline-block;
    font-size: 11px;
    height: 22px;
    line-height: 19px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 22px;
}

.text-danger {
    color: #dc3545 !important;
}

.badge-success {
    border: 1px solid #51aa1b;
    color: #fff;
    background-color: #51aa1b;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.group-48095431-cu {
    margin-top: 350px !important;
}

.ty-gia {
    background-color: var(--fuchsia-pink);
    font-family: var(--font-family-bai_jamjuree);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
    color: #fff;
    padding: 6px 19px;
    border-radius: 10px;
}

.cus-a-gh a {
    font-size: 22px;
    margin: 0px 9px;
    color: #699C47;
}

.menu-top {
    display: block;
    margin: 0;
    padding: 0;
}

    .menu-top > li {
        margin: 0px 5px;
    }

    .menu-top > li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        width: auto;
        position: relative;
        padding: 10px 0px;
    }

        .menu-top > li > a {
            width: auto;
            color: #fff;
            display: block;
            margin: 0px 10px;
        }
        .menu-top > li > a:hover {
            color: var(--tangerine);
        }
        .menu-top > li > ul {
            border-radius: 6px;
            display: none;
            position: absolute;
            width: 150px;
            background: var(--tangerine);
            top: 40px;
            left: 10px;
        }

        .menu-top > li:hover .sub {
            display: block;
        }

        .menu-top > li > a:hover .sub {
            display: block;
        }

        .menu-top > li > ul > li {
        }

            .menu-top > li > ul > li > a {
                color: #fff;
                display: block;
                padding: 2px 10px;
            }
                .menu-top > li > ul > li > a:hover {
                    color: var(--fuchsia-pink);
                    display: block;
                    padding: 2px 10px;
                }
