<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="MoxieManager" type="MoxieManager.Core.ConfigHandler,MoxieManager.Core" requirePermission="false" />
	</configSections>

	<MoxieManager>
		<plugins>
			<plugin type="MoxieManager.Plugins.AspNetAuthenticator.Plugin" />
			<plugin type="MoxieManager.Plugins.AutoFormat.Plugin" />
			<plugin type="MoxieManager.Plugins.AutoRename.Plugin" />
			<plugin type="MoxieManager.Plugins.BasicAuthenticator.Plugin" />
			<plugin type="MoxieManager.Plugins.ExternalAuthenticator.Plugin" />
			<plugin type="MoxieManager.Plugins.Favorites.Plugin" />
			<plugin type="MoxieManager.Plugins.History.Plugin" />
			<plugin type="MoxieManager.Plugins.IpAuthenticator.Plugin" />
			<plugin type="MoxieManager.Plugins.SessionAuthenticator.Plugin" />
			<plugin type="MoxieManager.Plugins.Uploaded.Plugin" />
		</plugins>

		<config>
			<!-- General -->
			<add key="general.license" value="HXOH-WG5Y-G4XD-3PT3-JVRS-3HGQ-VIIX-HIB4" />
			<add key="general.hidden_tools" value="" />
			<add key="general.disabled_tools" value="" />
			<add key="general.demo" value="false" />
			<add key="general.debug" value="false" />
			<add key="general.language" value="en" />
			<add key="general.temp_dir" value="" />
			<add key="general.http_proxy" value="" />
			<add key="general.allow_override" value="*" />

			<!-- Storage -->
			<add key="storage.engine" value="json" />
			<add key="storage.path" value="./data/storage" />

			<!-- Filesystem -->
			<add key="filesystem.rootpath" value="~/user_upload/" />
			<add key="filesystem.include_directory_pattern" value="" />
			<add key="filesystem.exclude_directory_pattern" value="/^mcith$/i" />
			<add key="filesystem.include_file_pattern" value="" />
			<add key="filesystem.exclude_file_pattern" value="" />
			<add key="filesystem.extensions" value="jpg,jpeg,png,gif,html,htm,txt,docx,doc,zip,pdf,mp4" />
			<add key="filesystem.readable" value="true" />
			<add key="filesystem.writable" value="true" />
			<add key="filesystem.overwrite_action" value="" />
			<add key="filesystem.directories">
				<!--
				<directory pattern="images">
					<add key="upload.extensions" value="gif,jpg,png" />
				</directory>
				-->
			</add>
			<add key="filesystem.allow_override" value="*" />

			<!-- Createdir -->
			<add key="createdir.templates" value="" />
			<add key="createdir.include_directory_pattern" value="" />
			<add key="createdir.exclude_directory_pattern" value="" />
			<add key="createdir.allow_override" value="*" />

			<!-- Createdoc -->
			<add key="createdoc.templates" value="" />
			<add key="createdoc.fields" value="Document title=title" />
			<add key="createdoc.include_file_pattern" value="" />
			<add key="createdoc.exclude_file_pattern" value="" />
			<add key="createdoc.extensions" value="*" />
			<add key="createdoc.allow_override" value="*" />

			<!-- Upload -->
			<add key="upload.include_file_pattern" value="" />
			<add key="upload.exclude_file_pattern" value="" />
			<add key="upload.extensions" value="*" />
			<add key="upload.maxsize" value="100MB" />
			<add key="upload.overwrite" value="false" />
			<add key="upload.autoresize" value="false" />
			<add key="upload.autoresize_jpeg_quality" value="75" />
			<add key="upload.max_width" value="800" />
			<add key="upload.max_height" value="600" />
			<add key="upload.chunk_size" value="5mb" />
			<add key="upload.allow_override" value="*" />

			<!-- Delete -->
			<add key="delete.include_file_pattern" value="" />
			<add key="delete.exclude_file_pattern" value="" />
			<add key="delete.include_directory_pattern" value="" />
			<add key="delete.exclude_directory_pattern" value="" />
			<add key="delete.extensions" value="*" />
			<add key="delete.allow_override" value="*" />

			<!-- Rename -->
			<add key="rename.include_file_pattern" value="" />
			<add key="rename.exclude_file_pattern" value="" />
			<add key="rename.include_directory_pattern" value="" />
			<add key="rename.exclude_directory_pattern" value="" />
			<add key="rename.extensions" value="*" />
			<add key="rename.allow_override" value="*" />

			<!-- Edit -->
			<add key="edit.include_file_pattern" value="" />
			<add key="edit.exclude_file_pattern" value="" />
			<add key="edit.extensions" value="jpg,jpeg,png,gif,html,htm,txt" />
			<add key="edit.jpeg_quality" value="90" />
			<add key="edit.line_endings" value="crlf" />
			<add key="edit.encoding" value="utf-8" />
			<add key="edit.allow_override" value="*" />

			<!-- View -->
			<add key="view.include_file_pattern" value="" />
			<add key="view.exclude_file_pattern" value="" />
			<add key="view.extensions" value="jpg,jpeg,png,gif,html,htm,txt,pdf" />
			<add key="view.allow_override" value="*" />

			<!-- Download -->
			<add key="download.include_file_pattern" value="" />
			<add key="download.exclude_file_pattern" value="" />
			<add key="download.extensions" value="*" />
			<add key="download.allow_override" value="*" />

			<!-- Thumbnail -->
			<add key="thumbnail.enabled" value="true" />
			<add key="thumbnail.auto_generate" value="true" />
			<add key="thumbnail.mode" value="resize" />
			<add key="thumbnail.use_exif" value="true" />
			<add key="thumbnail.width" value="200" />
			<add key="thumbnail.height" value="200" />
			<add key="thumbnail.folder" value="mcith" />
			<add key="thumbnail.prefix" value="mcith_" />
			<add key="thumbnail.delete" value="true" />
			<add key="thumbnail.jpeg_quality" value="75" />
			<add key="thumbnail.allow_override" value="*" />

			<!-- Authentication -->
			<add key="authenticator" value="SessionAuthenticator" />
			<add key="authenticator.login_page" value="http://localhost:65457/taikhoan/" />

			<!-- SessionAuthenticator -->
			<add key="SessionAuthenticator.logged_in_key" value="PiglobalUser" />
			<add key="SessionAuthenticator.user_key" value="user" />
			<add key="SessionAuthenticator.config_prefix" value="moxiemanager" />

			<!-- ExternalAuthenticator -->
			<add key="ExternalAuthenticator.external_auth_url" value="auth_example.jsp" />
			<add key="ExternalAuthenticator.secret_key" value="someSecretKey" />

			<!-- IpAuthenticator -->
			<add key="IpAuthenticator.ip_numbers" value="127.0.0.1" />

			<!-- Local filesystem -->
			<add key="filesystem.local.wwwroot" value="" />
			<add key="filesystem.local.urlprefix" value="{proto}://{host}/" />
			<add key="filesystem.local.urlsuffix" value="" />
			<add key="filesystem.local.access_file_name" value="mc_access" />
			<add key="filesystem.local.allow_override" value="*" />

			<!-- Log -->
			<add key="log.enabled" value="false" />
			<add key="log.level" value="error" />
			<add key="log.path" value="./data/logs" />
			<add key="log.filename" value="{level}.log" />
			<add key="log.format" value="[{time}] [{level}] {message}" />
			<add key="log.max_size" value="1m" />
			<add key="log.max_files" value="10" />
			<add key="log.filter" value="" />

			<!-- AutoFormat -->
			<add key="autoformat.rules" value="" />
			<add key="autoformat.jpeg_quality" value="90" />
			<add key="autoformat.delete_format_images" value="true" />

			<!-- AutoRename -->
			<add key="autorename.enabled" value="false" />

			<!-- BasicAuthenticator -->
			<add key="basicauthenticator.users">
        <!--<user name="sti" password="" email="" groups="administrator" />-->
			</add>

			<!-- Favorites -->
			<add key="favorites.max" value="20" />

			<!-- History -->
			<add key="history.max" value="3" />
		</config>
	</MoxieManager>

	<system.web>
		<httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" maxRequestLength="32768" />
	</system.web>
</configuration>