.jp_overlay {
	background: rgba(232,232,232,.8);
}
.jp_popup {
	width: 500px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 10px rgba(0,0,0,.1),
				0 10px 30px rgba(0,0,0,.1);
	outline: 1px #ccc;
	outline: 1px rgba(0,0,0,.05);
	font-family: Roboto, sans-serif;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #444;
	}
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	h5 {
		font-size: 12px;
	}
	h6 {
		font-size: 10px;
	}
	p {
		color: #777;
		font-size: 16px;
		line-height: 24px;
	}
	input {
		height: 32px;
		width: 100%;
		border: 0;
		border-bottom: 2px solid #bbb;
		outline: 0;
		font-family: "roboto", sans-serif;
		font-size: 14px;
		color: #444;
		&:focus {
			border-bottom: 2px solid #444;
		}
		&::-webkit-input-placeholder {
		  color: #ccc;
		}
		&::-moz-placeholder {
		  color: #ccc;
		}
		&:-ms-input-placeholder {
		  color: #ccc;
		}
		&:-moz-placeholder {
		  color: #ccc;
		}
	}
	.jp_title {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			padding: 0 20px;
			line-height: 64px;
		}
	}
	.jp_content {
		padding: 20px;
	}
	.jp_buttons {
		padding-right: 10px;
		button {
			font-family: "Roboto", sans-serif;
			font-size: 14px;
			font-weight: 700;
			color: #777;
			line-height: 36px;
			padding: 0 10px;
			margin: 20px 10px 20px 0;
			border: 0;
			border-radius: 3px;
			background: none;
			float: right;
			cursor: pointer;
			outline: 0;
			display: block;
			min-width: 52px;
			&:hover {
				background: #eee;
			}
			&:active,
			&:focus {
				background: #ddd;
			}
			&[disabled] {
				background: none;
				color: #ccc;
				cursor: not-allowed;
			}
		}
	}
	.jp_close {
		margin: 20px;
		border: 0;
		background: url('data:image/gif;base64,R0lGODlhMAAwAMIEAD4+Pj8/P0NDQ0RERP///////////////yH5BAEKAAQALAAAAAAwADAAAAOKSLrc/jDKSau9OOvNu/9gKI5kaY6Al3rBIHDCEHTAYL9ZbK+b7mI+XCdoIYKMEuTR9osoQ89FFMoUSqsnhXJKMnJLwa/Jh81CyFZzA61+kG9tRrjc9tKz2ztYTxAP+VqAHmJ+QIJyh4ZwFYUTjVeLGy2RFz4zHDVplQM8mCpxoKGio6SlpqeoqaQJADs=');
		background-size: 100%;
		width: 24px !important;
		height: 24px !important;
		cursor: pointer;
		border-radius: 3px;
		padding: 0;
		outline: 0;
		font-size: 0;
		&:hover {
			background-color: #eee;
		}
		&:active {
			background-color: #ddd;
		}
	}
	@media screen and (max-width: 540px) {
		width: 400px;
	}
	@media screen and (max-width: 440px) {
		width: 300px;
	}
	@media screen and (max-width: 340px) {
		width: 200px;
	}
}